body{
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}
.custom-green-button {
    background-color: green;
    color: white;
    border: none;
    margin: 0.125rem;
}
  
.custom-button-group {
    display: flex;
}
  
.custom-button-group .dropdown {
    margin-right: 0.625rem;
}
  
.navbar {
    display: flex;
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}
  
.right-side-nav {
    align-items: flex-end; 
    margin: 0.3125rem;
}
  
.d-flex {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}
  
.custom-button {
    margin-right: 0.625rem;
}
  
.gallery-item {
    box-sizing: border-box;
}
  
#gallery-view img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0.3125rem;
    border: 0.3125rem solid #000000;
}
  
.card {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    width: 25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
}
  
.card-img-top {
    width: 25rem; 
    object-fit: cover;
}
  
.card-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}
  
.card-title {
    text-align: left;
}
  
.card-date {
    text-align: right;
}

.logout:hover{
    background-color: red;
}
