.custom-green-button {
    background-color: green;
    color: white;
    border: none;
    margin: 2px;
}

.custom-button-group {
    display: flex;
}

.custom-button-group .dropdown {
    margin-right: 10px;
}

.navbar {
    display: flex;
}

.right-side-nav {
    align-items: end;
    margin: 5px;
}

.d-flex {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-button {
    margin-right: 10px;
}


.gallery-item{
    box-sizing: border-box;
}

#gallery-view img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery-item img {
    width: 100%;  
    height: auto; 
    object-fit: cover; 
}
